body {
    background: rgb(217, 234, 253);
}

#container {
    background: rgb(175, 198, 219);
    border: 2px solid black;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#container h1 {
    color: antiquewhite;
    padding: 15px;
    font-size: 30px;
}

#tarefa {
    outline: none;
    color: rgb(25, 69, 117);
}

#tarefa::placeholder {
    color: rgb(133, 43, 43);
}

#button1 {
    border: 2px solid black;
    border-radius: 4px;
}