body {
    background: url("../img/img4.jpg") no-repeat;  
    background-size: cover;
}

#container {
    
    border: 2px solid black;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#container h1 {
    color: antiquewhite;
    padding: 15px;
    font-size: 30px;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}

#tarefa {
    outline: none;
    color: rgb(25, 69, 117);
}

#tarefa::placeholder {
    color: rgb(133, 43, 43);
}

#btnAdicionar {
    background: rgb(75, 129, 187);
    color: #fff;
    border-radius: 6px;
}

#listaSites li {
    text-decoration: none;
    text-align: start;
}