body {
    background-color: rgba(132, 190, 255, 0.432);

}

.menu {
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.container {
    height: auto;
    max-width: 300px;
    display: flex;
    align-items: center;
}